#!/bin/bash
W="\033[01;37m"
B="\033[01;34m"
G="\033[01;32m"
R="\033[01;31m"
X="\033[00;37m"
RESET="\033[0m"
PROJECT_NAME=gitlab
hostname $PROJECT_NAME
echo "127.0.0.1 $PROJECT_NAME" >>/etc/hosts
ip=$(curl http://checkip.amazonaws.com 2>/dev/null)
domain=$ip.nip.io
gitlab-ctl reconfigure
echo "" >>/etc/motd
echo "your $PROJECT_NAME is deploying, please wait a while..." >>/etc/motd

echo 'waiting for deploy'
sed -i '/deploying, please wait a while/d' /etc/motd
echo "" >>/etc/motd
echo -e "$G Gitlab   $RESET is available under $B http://$domain $RESET" >>/etc/motd
echo -e "Gitlab user root, password $X $(cat /etc/gitlab/initial_root_password | grep Password:) $RESET" >>/etc/motd
echo -e "Config files are in $X {{app_dir}}/ $RESET" >>/etc/motd
echo -e "To restart services after config update make $G  $RESET gitlab-ctl reconfigure $G $RESET" >>/etc/motd
